.content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 2% 10% 0%;
}

.job {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 1% 0% 1%;
}
